        #frame{
            width:400px;
            height:600px;
            background-color: lightgray;
            margin: 20px 150px;
            border-radius:20px;
            position:absolute;
            right:45px;
            //left: 35%;
            border: 5px solid red;
            padding: 30px;
        }
        #screen{
            width:90%;
            height: 20%;
            background-color: white;
            margin: 10px;
            margin-top: 20px;
            margin-left: 20px;
            float: left;
            border-radius: 10%;
            border: 2px solid black;
            
            
        }
        body{
            margin: 0 auto;
            background-color: gray;
            /**background-image: url("IMG/cv.jpg");
            background-repeat: repeat;
            background-position: center;
            */
            
        }
        .numbers{
            width:27%;
            margin: 1%;
            background-color:cadetblue;
            height:10%;
            padding: 1%;
            float:left;
            text-align: center;
            border-radius: 10%;
            border: 2px solid maroon;
            
        }
        
        #numpad{
            height:90%;
            position: relative;
            top: 8px;
            left: 12px;
            
            
        }
        #n{
            position: relative;
            top: 40%;
            font-family: monospace;
            font-style: italic;
            font-size: 18px;
            font-weight: bold;
            }
        .b{
            background-color: dimgray;
            width:27%;
            margin: 1%;
            height:10%;
            padding: 1%;
            float:left;
            text-align: center;
            border-radius: 10%;
            border: 2px solid maroon;
        }
        .math{
            background-color: crimson;
            width:27%;
            margin: 1%;
            height:10%;
            padding: 1%;
            float:left;
            text-align: center;
            border-radius: 10%;
            font-weight: bold;
            border: 2px solid maroon;
        }
        .math:hover{
            background-color: darksalmon;
        }
        .b:hover{
            background-color: lightcyan;
        }
        #app-head{
            color: silver;
            text-align: center;
            background-color: seagreen;
            font-family: algerian;
            height: 48px;
            font-size: 40px;
        }
        .numbers:hover{
            background-color: mintcream;
        }
        #result{
            float: right;
            position: relative;
            top: 70%;
            bottom:15%;
            font-family: monospace;
            font-style: normal;
            font-size: 24px;
            font-weight: bold;
            padding: 5px;
                    
        }
        #credits{
            width:200px;
            height:100px;
            background-color: bisque;
            float: right;
            
            padding:5px 15px;    
            font-family: cursive;
            font-size: 20px;
            border: 2px solid black;
            border-radius: 15px;
        }